{extend name="$BASE_POPUP_FORM" /}
{block name="body"}
<style>
    .edui-editor, .edui-editor-iframeholder {
        width: 790px !important;
    }
</style>
<div class="box-content">   
    <input type="hidden" id="id" name="id" value="{$id}"/>
    <div class="control-row col-2">
        <div class="control-group">
            <label class="control-label">问题</label>
            <div class="controls">
                <textarea style="width:400px;height:300px" readonly="" disabled="true" name="issue" id="issue" placeholder="请输入内容" class="textarea" ></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">回复</label>
            <div class="controls">
                <textarea style="width:400px;height:300px"  name="reply" id="reply" placeholder="请输入内容" class="textarea" ></textarea>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">

</script>
{/block}


