{extend name="$BASE_POPUP_FORM" /}
{block name="body"}
<style>
    .edui-editor, .edui-editor-iframeholder {
        width: 790px !important;
    }
</style>
<div class="box-content">   
    <input type="hidden" id="id" name="id" value="{$id}"/>
    <div class="control-row col-2">
        <div class="control-group">
            <label class="control-label">天数</label>
            <div class="controls">
                <input type="number" id="time_length" name="time_length" placeholder="请使用数字" class="form-control required" />                                      
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">金额上限</label>
            <div class="controls">
                <input type="text" id="amount_limit" name="amount_limit" class="form-control required" />    
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">利息</label>
            <div class="controls">
                <input type="text" id="amount_interest" name="amount_interest" class="form-control required" /> %
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">

</script>
{/block}


