{extend name="$BASE_LIST" /}
{block name="body"}
<style type="text/css">
.voucher{max-height: 50px;max-width: 50px}
</style>
<div class="right-main">
    <div class="page_nav" id="js_page_nav"><span class="page_title">{$page_nav}</span></div>
    <ul class="tab_navs" id="js_tab_navs">
        <li class="{if condition='$type eq 0'}current{/if}"><a class="pjax" href="{:getUrl('index','type=0')}">未买入</a></li>
        <li class="{if condition='$type eq 1'}current{/if}"><a class="pjax" href="{:getUrl('index','type=1')}">已买入</a></li>
        <li class="{if condition='$type eq 2'}current{/if}"><a class="pjax" href="{:getUrl('index','type=2')}">已打款</a></li>
        <li class="{if condition='$type eq 3'}current{/if}"><a class="pjax" href="{:getUrl('index','type=3')}">已完成</a></li>
    </ul>
    <div id="js_main_header" class="ui-form main_header">
        <span class="frm_input_box search append" style="width: 240px">
            <a href="javascript:void(0);" id="js_search" class="frm_input_append">
                <i class="icon wb-search" title="搜索"></i>
            </a>
            <input type="text" id="js_keyword" placeholder="请输入卖家手机、订单编号、金额" value="" class="frm_input" />
        </span>
    </div>
    <table id="grid-table">
        <thead frozen="true">
        <th data-options="field:'sphone',width:100, align:'center'">卖家手机号</th>
        <th data-options="field:'bphone',width:100, align:'center'">买家手机号</th>
        </thead>
        <thead>
            <tr>
                <th data-options="field:'order_id',width:160, align:'center'">订单编号</th>
                <th data-options="field:'type',width:100, align:'center',formatter:formatType">订单状态</th>
                <th data-options="field:'price',width:100, align:'center'">单价</th>
                <th data-options="field:'number',width:100, align:'center'">数量</th>
                <th data-options="field:'amount',width:100, align:'center'">金额</th>
                <th data-options="field:'voucher',width:100, align:'center',formatter:formatImg"">付款凭证</th>
                <th data-options="field:'fee_num',width:100, align:'center'">手续费</th>
                <th data-options="field:'update_time',width:140,align:'center'">更新时间</th>
                <th data-options="field:'status',width:100, align:'center',formatter:formatStatus">订单状态</th>
                <th data-options="field:'create_at',width:140,align:'center'">创建时间</th>
                <th data-options="field:'_oper',width:250,halign:'center',formatter: formatOper">操作</th>
            </tr>
        </thead>
    </table>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
    var status = '{$type}'

    function formatOper(value, row, index) {
        if (row.status == 1){
            var html = '<span class="grid-operation">';
            html += '<button type="button" onclick="doCheck(' + row['id'] + ',2)" class="btn btn-xs btn-default edit-btn"><i class="icon wb-edit"></i>通过</button>';
            html += '<button type="button" onclick="doCheck(' + row['id'] + ',3)" class="btn btn-xs btn-default edit-btn"><i class="icon wb-edit"></i>不通过</button>';
            html += '</span>';
        }
        return html;
    }
    function formatImg(value,row,index){
        if(!value){
            text = '';
        }else{
            text = '<a target="_blank" href="'+value+'"><img class="voucher" src="'+value+'"></a>';
        }
        return text;
    }
    //类型
    function formatType(value,row,index){
        if(value==0){
            var text = '<span style="color:red">未买入</span>';
        }else if(value==1){
            var text = '<span style="color:red">已买入</span>';
        }else if(value==2){
            var text = '<span style="color:red">已打款</span>';
        }else{
            var text = '<span style="color:red">已完成</span>';
        }
        return text;
    }
    //状态
    function formatStatus(value,row,index){
        if(value==0){
            var text = '<span style="color:red">未取消</span>';
        }else{
            var text = '<span style="color:red">已取消</span>';
        }
        return text;
    }

    function formatOper(value, row, index) {
        var html = '<span class="grid-operation">';
        if(!row['status']){
            if(row['type']==0||row['type']==1){
                html += '<button type="button" onclick="cancleOrder(' + row['id'] + ')" class="btn btn-xs btn-default edit-btn"><i class="icon wb-edit"></i>取消</button>';
            }else if(row['type']==2){
                html += '<button type="button" onclick="confirmMoney(' + row['id'] + ')" class="btn btn-xs btn-default edit-btn"><i class="icon wb-edit"></i>确认收款</button>';
            }
        }
        html += '</span>';
        return html;
    }
//    //查看图片
//    function formatPic(value,row,index){
//        var html = '<button type="button" onclick="showPic('+row['id']+')" class="btn btn-xs btn-default btn-primary">点我查看</button>';
//        return html;
//    }
//    function showPic(id){
//        var url = getURL('show_pic', 'id=' + id);
//        openBarWin('查看凭证', 700, 500, url, function () {
//            reload();
//        }, ['确定','取消']);
//    }

    //审核
    function cancleOrder(id){
        var title = '取消订单?';
        confirm(title, function () {
            var url = getURL('cancleOrder');
            $.getJSON(url, {id: id}, function (json) {
                if (json.success)
                    reload();
                else
                    alert(json.message);
            });
        });
    }

    function confirmMoney(id){
        var title = '确认收款?';
        confirm(title, function () {
            var url = getURL('confirmMoney');
            $.getJSON(url, {id: id}, function (json) {
                if (json.success)
                    reload();
                else
                    alert(json.message);
            });
        });
    }
    
    $(function () {
        $('#grid-table').datagrid({
            url: getURL('loadList','type='+status),
            method: "GET",
            height: getGridHeight(),
            rownumbers: true,
            singleSelect: true,
            remoteSort: false,
            multiSort: true,
            emptyMsg: '<span>无相关数据</span>',
            pagination: true,
            pageSize: 20
        });
        //设置分页控件 
        $('#grid-table').datagrid('getPager').pagination({
            pageSize: 20, //每页显示的记录条数，默认为10 
            pageList: [20, 30, 50]
        });
    });


    $("#js_search").click(function () {
        reload();
    });
    function reload() {
        var keyword = $("#js_keyword").val();
        $('#grid-table').datagrid('reload', {keyword: keyword});
    }
    $("#type").change(function () {
        var keyword = $("#js_keyword").val();
        $('#grid-table').datagrid('reload', {keyword: keyword});
    });
</script>
{/block}