{extend name="$BASE_LIST" /}
{block name="body"}
 
<div class="right-main">
    <div class="page_nav" id="js_page_nav"><span class="page_title">{$page_nav}</span></div>
    <div id="js_main_header" class="ui-form main_header">
        <span class="frm_input_box search append">
            <a href="javascript:void(0);" id="js_search" class="frm_input_append">
                <i class="icon wb-search" title="搜索"></i>
            </a>
            <input type="text" id="js_keyword" placeholder="请输入用户名称" value="" class="frm_input" />
        </span>
        <span class="right">       
            <button type="button" id="js_addBtn" class="btn btn-primary"><i class="icon wb-plus"></i> 结算</button>
        </span>
    </div>
    <table id="grid-table">
        <thead>
            <tr>
                <th data-options="field:'username',width:120, align:'center'">用户名</th>
                <th data-options="field:'total_bonus',width:110, align:'center'">未结算奖金总额</th>
                <th data-options="field:'invite_bonus',width:110, align:'center'">未结算推荐奖金</th>
                <th data-options="field:'duipen_bonus',width:110, align:'center'">未结算对碰奖金</th>
                <th data-options="field:'manage_bonus',width:110, align:'center'">未结算管理奖金</th>
                <th data-options="field:'leader_bonus',width:110, align:'center'">未结算团队奖金</th>
                <th data-options="field:'center_bonus',width:110, align:'center'">未结算用户中心奖金</th>
                <th data-options="field:'recast_bonus',width:110, align:'center'">未结算复投奖金</th>
                
                <th data-options="field:'invite_total_bonus',width:110, align:'center'">推荐奖金总额</th>
                <th data-options="field:'duipen_total_bonus',width:110, align:'center'">对碰奖金总额</th>
                <th data-options="field:'manage_total_bonus',width:110, align:'center'">管理奖金总额</th>
                <th data-options="field:'leader_total_bonus',width:110, align:'center'">团队奖金总额</th>
                <th data-options="field:'center_total_bonus',width:110, align:'center'">用户中心奖金总额</th>
                <th data-options="field:'recast_total_bonus',width:110, align:'center'">复投奖金总额</th>
                
                <th data-options="field:'update_time',width:200, align:'center'">更新时间</th>
            
            </tr>
        </thead>
    </table>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
    $("#js_search").click(function () {
        reload();
    });
    $(function () {
        $('#grid-table').datagrid({
            url: getURL('loadList'),
            method: "GET",
            height: getGridHeight(),
            rownumbers: true,
            singleSelect: true,
            remoteSort: false,
            multiSort: true,
            emptyMsg: '<span>无相关数据</span>',
            pagination: true,
            pageSize: 20
        });
        //设置分页控件 
        $('#grid-table').datagrid('getPager').pagination({
            pageSize: 20, //每页显示的记录条数，默认为10 
            pageList: [20, 30, 50]
        });
    });
    
    $("#js_addBtn").click(function(){
        confirm("确认要结算奖金吗？", function () {
            var url = getURL('releaseBonus');
            $.getJSON(url, {}, function (json) {
                if (json.success)
                    alert(json.data)
                else
                    alert(json.message);
            });
        });
    })
    
    function fromatChangeType(value, row, index){
        var text = '<span style="color:#46be8a">减少</span>'
        if(value == 1)
            text = '<span style="color:#ff0000">增加</span>'
        return text;
    }

    
    function reload() {
        var keyword = $("#js_keyword").val();
        $('#grid-table').datagrid('reload', {
            keyword: keyword,
        });
    }

</script>
{/block}