{extend name="$BASE_LIST" /}
{block name="body"}
<link rel="stylesheet" type="text/css" href="__STATIC__/monthPicker/dateRange.css"/>
<link rel="stylesheet" type="text/css" href="__STATIC__/monthPicker/monthPicker.css"/>

<div class="right-main">
    <div class="page_nav" id="js_page_nav"><span class="page_title">{$page_nav}</span></div>
    <div id="js_main_header" class="ui-form main_header">
        <span>
            <select name="asset_type" id="asset_type" class="form-control" style="width:120px">
                <option value="">筛选资产类型</option>
                {volist name="confs" id="conf"}
                <option value="{$conf.id}">{$conf.name}</option>
                {/volist}
            </select>
        </span>
        <span>
            <select name="change_type" id="change_type" class="form-control" style="width:120px">
                <option value="">筛选变更类型</option>
                <option value="0">减少</option>
                <option value="1">增加</option>
            </select>
        </span>
        <span>
            <!--0=转账，1=OTC交易，2=提现转出，3=后台拨币, 4=注册  ,5=复投，6=补差升级 10=推荐奖金，11=对碰奖金，12=管理奖金，13=领导奖金，14=报单中心奖金，15=复投奖金-->
            <select name="type" id="type" class="form-control" style="width:120px">
                <option value="">筛选记录类型</option>
                <option value="1">转账</option>
                <option value="2">激活码转账</option>
                <option value="3">购买节点</option>
                <option value="4">投资理财</option>
                <option value="5">超级节点消费</option>
                <option value="6">用户挂卖</option>
                <option value="7">确认收款</option>
                <option value="8">取消订单</option>
                <!-- 
                <option value="10">推荐奖金结算</option>
                <option value="11">对碰奖金结算</option>
                <option value="12">管理奖金结算</option>
                <option value="13">领导奖金结算</option>
                <option value="14">报单中心奖金结算</option>
                <option value="15">复投奖金结算</option>
 -->                
                
            </select>
        </span>
        <div class="left margin-right-5">
            <input style="width:200px" class="form-control" id="month_picker" size="20" />
        </div>
        <span class="frm_input_box search append">
            <a href="javascript:void(0);" id="js_search" class="frm_input_append">
                <i class="icon wb-search" title="搜索"></i>
            </a>
            <input type="text" id="js_keyword" placeholder="请输入手机号码" value="" class="frm_input" />
        </span>
    </div>
    <table id="grid-table">
        <thead>
            <tr>
                <th data-options="field:'username',width:120, align:'center',sortable: true">手机手机号</th>
                <th data-options="field:'to_username',width:120, align:'center',sortable: true">对方手机号</th>
                <th data-options="field:'name',width:100, align:'center',sortable: true">资产类型</th>
                <th data-options="field:'change_type',width:120, align:'center',formatter:fromatChangeType">变更类型</th>
                <th data-options="field:'type',width:120, align:'center',formatter:fromatType">记录类型</th>
                <th data-options="field:'before_amount',width:140, align:'center',sortable: true">变更前余额</th>
                <th data-options="field:'amount',width:140, align:'center',sortable: true">金额</th>
                <th data-options="field:'after_amount',width:140, align:'center',sortable: true">变更后余额</th>
                <th data-options="field:'remark',width:200, align:'center',sortable: true">备注</th>
                <th data-options="field:'update_time',width:200, align:'center',sortable: true">更新时间</th>
            </tr>
        </thead>
    </table>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/monthPicker/dateRange.js"></script>
<script type="text/javascript" src="__STATIC__/monthPicker/monthPicker.js"></script>
<script type="text/javascript">
    var myDate = new Date();
    var month = parseInt(myDate.getMonth()) + 1;
    var toDay = myDate.getFullYear() + '-' + month + '-' + myDate.getDate();
    var dateRange = new pickerDateRange('month_picker', {
        startDate: toDay,
        endDate: toDay,
        defaultText: ' 至 ',
        theme: 'ta'
    });
    $("#js_search").click(function () {
        reload();
    });
    $(function () {
        $('#grid-table').datagrid({
            url: getURL('loadList'),
            method: "GET",
            height: getGridHeight(),
            rownumbers: true,
            singleSelect: true,
            remoteSort: false,
            multiSort: true,
            emptyMsg: '<span>无相关数据</span>',
            pagination: true,
            pageSize: 20,
            showFooter:true,
            onLoadSuccess: function(data){
                $('#grid-table').datagrid('reloadFooter', [
                    {
                        username: '统计',
                        amount: data.count_total
                    }
                ]);
            }
        });
        //设置分页控件 
        $('#grid-table').datagrid('getPager').pagination({
            pageSize: 20, //每页显示的记录条数，默认为10 
            pageList: [20, 30, 50]
        });
    });
    //记录类型：0=转账，1=OTC交易，2=提现转出，3=后台拨币, 4=注册  ,5=复投，
    // 10=推荐奖金，11=对碰奖金，12=管理奖金，13=领导奖金，14=报单中心奖金，15=复投奖金
    function fromatType(value, row, index){
        if(row['id']){
            var text = '转账'
            if(value == 1)
                text = '转账'
            else if(value == 2)
                text = '激活码转账'
            else if(value == 3)
                text = '购买节点'
            else if(value == 4)
                text = '投资理财'
            else if(value == 5)
                text = '超级节点消费'
            else if(value == 6)
                text = '用户挂卖'
            else if(value == 7)
                text = '确认收款'
            else if(value == 8)
                text = '取消订单'
            
            // else if(value == 10)
            //     text = '推荐奖金'
            // else if(value == 11)
            //     text = '对碰奖金'
            // else if(value == 12)
            //     text = '管理奖金'
            // else if(value == 13)
            //     text = '领导奖金'
            // else if(value == 14)
            //     text = '报单中心奖金'
            // else if(value == 15)
            //     text = '复投奖金'

            return text;
        }
    }
    
    function fromatChangeType(value, row, index){
        if(row['id']){
            var text = '<span style="color:#46be8a">减少</span>'
            if(value == 1)
                text = '<span style="color:#ff0000">增加</span>'
            return text;
        }
    }

    $("#asset_type").change(function(){
        reload();
    })
    $("#change_type").change(function(){
        reload();
    })
    $("#type").change(function(){
        reload();
    })
    
    function reload() {
        var keyword = $("#js_keyword").val();
        var asset_type = $("#asset_type").val();
        var change_type = $("#change_type").val();
        var type = $("#type").val();
        
        var month_picker = $("#month_picker").val();
        var arr = month_picker.split(" 至 ");
        var startDate = arr[0];
        var endDate = arr[1];
        $('#grid-table').datagrid('reload', {
            keyword: keyword,
            asset_type:asset_type,
            change_type:change_type,
            type:type,
            startDate: startDate,
            endDate: endDate
        });
    }
</script>
{/block}