{extend name="base/index" /}
{block name="body"}
<link href="__B__/css/fucking-piss.css" rel="stylesheet">
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>转换</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="demo-form2" method="post" data-parsley-validate class="ui-form form-material">
                            <div class="form-group">
                                <label class="control-label">可转换奖金金额</label>
                                <input value="{$bonus_amount}" type="text"  readonly="readonly" id="bonus_amount" required="required" class="form-control" />
                               
                            </div>
                            <div class="form-group">
                                <label class="control-label">金额</label>
                                <input type="text" id="amount" name="amount" placeholder="请输入转换金额" required="required" class="form-control">
                                
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <span class="btn btn-success" id="submitBtn" style="margin-right: 30px">提交</span>
                                    <span class="btn btn-primary" onClick="javascript :history.back(-1);">返回</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        form = $(".ui-form").bindForm();
        $("#amount").val("{$bonus_amount}")
    })
    function chkForm() {
        var bonus_amount = $("#bonus_amount").val();
        var amount = $("#amount").val();
        if (!amount || amount < 0){
            msg('请输入正确的金额');
            return false;
        }
        if(bonus_amount > amount){
            msg('可转换金额不能大于奖金余额')
            return false;
        }
        return true;
    }
    

    $("#submitBtn").click(function() {
        var f = form.valid();
        if (f) {
            if (typeof (chkForm) != 'undefined') {
                if (!chkForm())
                    return false;
            }
            _isClickSave = true;
            form.ajaxSubmit({
                beforeSubmit: function () {
                    showLoading("数据提交中...");
                },
                success: function (res) {
                    _isClickSave = false;
                    hideLoading();
                    if (res.success) {
                        alert('提交成功');
                        form.reset();
                    }else{
                        alert(res.message);
                    }
                }
            })
        }
    })

</script>
{/block}