{extend name="base/index" /}
{block name="body"}
<link href="__B__/css/fucking-piss.css" rel="stylesheet">
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>提现</h2>
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="demo-form2" method="post" data-parsley-validate class="ui-form form-material">
                            <div class="form-group">
                                <label class="control-label">金额</label>
                                <input onchange="createRate(this.value)" type="text" id="amount" name="amount" required="required" class="form-control" placeholder="请输入提现金额">
                                
                            </div>
                            <div class="form-group">
                                <label class="control-label">手续费</label>
                                <input readonly type="text" id="rate" name="rate" required="required" class="form-control" placeholder="提现手续费比例：{$rate} %">
                                
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <span class="btn btn-success" id="submitBtn" style="margin-right: 30px">提交</span>
                                    <span class="btn btn-primary" onClick="javascript :history.back(-1);">返回</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__STATIC__/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
{/block}
{block name="script"}
<script type="text/javascript">
    var rate = "{$rate}";
   function createRate(amount) {
       $("#rate").val(amount * rate / 100)
   }
    $(function () {
        form = $(".ui-form").bindForm();
    })
    function chkForm() {
        var amount = $("#amount").val();
        if (!amount || amount < 0){
            msg('请输入正确的金额');
            return false;
        }
        return true;
    }

    $("#submitBtn").click(function() {
        var f = form.valid();
        if (f) {
            if (typeof (chkForm) != 'undefined') {
                if (!chkForm())
                    return false;
            }
            _isClickSave = true;
            form.ajaxSubmit({
                beforeSubmit: function () {
                    showLoading("数据提交中...");
                },
                success: function (res) {
                    _isClickSave = false;
                    hideLoading();
                    if (res.success) {
                        alert('提交成功');
                        form.reset();
                    }else{
                        alert(res.message);
                    }
                }
            })
        }
    })
$(function () {

});


$('#imgBase64').change(function(){
    run(this, function (data) {
        uploadImage(data);
    });
});

function run(input_file, get_data) {
    /*input_file：文件按钮对象*/
    /*get_data: 转换成功后执行的方法*/
    if (typeof (FileReader) === 'undefined') {
        alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！");
    } else {
        try {
            /*图片转Base64 核心代码*/
            var file = input_file.files[0];
            //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
            if (!/image\/\w+/.test(file.type)) {
                alert("请确保文件为图像类型");
                return false;
            }
            var reader = new FileReader();
            reader.onload = function () {
                get_data(this.result);
            }
            reader.readAsDataURL(file);
        }
        catch (e) {
            alert('图片转Base64出错啦！' + e.toString())
        }
    }
}

function uploadImage(img) {
    //判断是否有选择上传文件

    var imgPath = $("#imgBase64").val();
    if (imgPath == "") {
        alert("请选择上传图片！");
        return;
    }
    //判断上传文件的后缀名
    var strExtension = imgPath.substr(imgPath.lastIndexOf('.') + 1);
    if (strExtension != 'jpg' && strExtension != 'gif'
        && strExtension != 'png' && strExtension != 'bmp') {
        alert("请选择图片文件");
        return;
    }
    $.ajax({
        type: "POST",
        url: "/index/Finance/base64_upload",
        data: {file: img},    //视情况将base64的前面字符串data:image/png;base64,删除
        cache: false,
        success: function(data) {
            data = JSON.parse(data);

            $("#pic").attr('src', data.data.path);
            $("#image").val(data.data.path);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            alert("上传失败，请检查网络后重试");
        }
    });
}

</script>

{/block}

